training_data/*.json
teacher/*.json
training_data/*.txt
training_data/basic_data/*.txt
training_data/basic_data/*.json
training_data/multiple_parameter_data/*.json
training_data/multiple_parameter_data/*.txt
teacher/*.txt