training_data/*.json
teacher/*.json
training_data/*.txt
training_data/basic_data/*.txt
training_data/basic_data/*.jsonl
training_data/basic_data/*.json
training_data/multiple_parameter_data/*.json
training_data/multiple_parameter_data/*.jsonl
training_data/multiple_parameter_data/*.txt
teacher/*.txt
tokenizer/*.txt
tokenizer/*.json
teacher_v2/finetuned_teacher
artefacts/teacher_outputs
artefacts/tokenizer_v2
teacher_v2/.cache
V1/teacher/*.json
hunan_data/*.json
hunan_data/*.jsonl
hunan_data/*.txt